@develop-mode: false;



//@font-round-medi: "DINRoundPro-Medi", "DINRoundPro", sans-serif;
//@medium: 500;




@width-sm: 		576px;
@width-md: 		768px;
@width-lg: 		1040px;

@width-xl: 		1230px;
@width-1366: 	1367px;
@width-xxl: 	1800px;


@height-sm: 	600px;
@height-md: 	768px;
@height-lg: 	1000px;

@color-orange: 			#ff6319;
@color-green: 			#79c247;

@font: 'a_FuturaOrto', sans-sarif;


.btn-normalize () {
    font-family: @font;
	display: inline-block;
	border-radius: 0;
	padding: 0;
	outline: none;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	background: none; 
	overflow: hidden;
    vertical-align: middle;
	transform: translateZ(0);
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}








body {
    -webkit-font-smoothing: antialiased;
	font-family: @font;
	font-size: 14px;
//	background: black;
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}
//::selection {
//	color: #000;
//	background: @global-color;
//}

.small {
	font-size: 75%;
}
.nowrap {
    white-space: nowrap;
}
.btn {
	
	.btn-normalize ();
	background: #ffed00;
	font-size: 22px;
	width: 238px;
	font-weight: bold;
	padding: 15px;
}


.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
//	transform: translateZ(0);
	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 80px;
		border-bottom: 3px solid #1f1c1f;
	}
	&__link {
		font-weight: bold;
		font-size: 23px;
		color: black;
		text-decoration: none;
		margin-left: 50px;
		&:hover {
			text-decoration: underline;
		}
	}
	
	@media (min-width: @width-xxl) {
		
		&__container {
			height: 114px;
			padding-top: 20px;
			border-bottom-width: 4px;
		}
		&__link {
			font-size: 33px;
		}
	}
}
.footer {
//	position: absolute;
//	top: 0;
//	left: 0;
//	width: 100%;
//	z-index: 10;
//	transform: translateZ(0);
	background: black;
	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 137px;
		padding: 0 70px 10px;
	}
	&__nav {
		
	}
	&__link {
		font-weight: bold;
		font-size: 33px;
		color: white;
		text-decoration: none;
		margin-left: 50px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.section {
	height: 710px;
	display: flex;
	
	background-size: cover;
	position: relative;
	text-align: right;
	padding: 90px 0;
	&#section-hero {
		height: 100vh;
		background-image: url(../img/hero-bg.jpg);
	}
	&#section-1 {
		background-image: url(../img/section-1-bg.jpg);
	}
	&#section-2 {
		background-image: url(../img/section-2-bg.jpg);
	}
	&#section-3 {
		background-image: url(../img/section-3-bg.jpg);
	}
	&#section-4 {
		background-image: url(../img/section-5-bg.jpg);
	}
	&#section-5 {
		background-image: url(../img/section-4-bg.jpg);
	}
	&#section-6 {
		background-image: url(../img/section-6-bg.jpg); 
	}
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		transform: translateZ(0);
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__container {
		transform: translateZ(0);
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
		
		&_vertical-center {
			justify-content: center;
		}
	}
	&__hero-title {
		font-weight: bold;
		font-size: 62px;
		text-shadow: 7px 6px 0 rgba(0, 0, 0, 0.75);
		padding-right: 70px;
//		margin-bottom: 300px;
		color: white;
		max-width: 800px;
		
		@media (min-width: @width-xxl) {
			font-size: 82px;
			max-width: 970px;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 64px;
		text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
		padding-right: 70px;
		margin: 0;
		&_white {
			color: white;
		}
		
		
		@media (min-width: @width-xxl) {
			font-size: 74px;
		}
	}
	&__list {
		list-style: none;
		position: relative;
//		border-top: 4px solid #949495;
		padding: 0;
		color: black;
		margin-bottom: 45px;
		margin-top: 20px;
		margin-right: 70px;
		&:after {
			content: '';
			position: absolute;
			height: 3px;
			top: -3px;
			left: 0;
			width: 100%;
			background: linear-gradient(to right, #999, #dfdbdb);
		
			@media (min-width: @width-xxl) {
				height: 4px;
				top: -4px;
			}
		}
		
		&_bg {
			background: rgba(66, 66, 66, 0.62);
			color: white;
		}
	}
	&__list-item {
//		border-bottom: 4px solid #949495;
		padding: 20px 27px 21px 70px;
		min-width: 700px;
		font-size: 23px;
		position: relative;
		cursor: pointer;
		&:hover {
			color: #00a20b;
			&:before {
				content: '';
				position: absolute;
				height: 38px;
				width: 38px;
				left: 20px;
				border: 19px solid transparent;
				border-top-color: #00a20b;
				border-left-color: #00a20b;
			}
		}
		&:after {
			content: '';
			position: absolute;
			height: 3px;
			left: 0;
			bottom: 0;
			width: 100%;
			background: linear-gradient(to right, #999, #dfdbdb);
		}
		
		@media (min-width: @width-xxl) {
			
			font-size: 27px;
			padding: 23px 27px 24px 70px;
			min-width: 750px;
			
			&:after {
				height: 4px;
			}
		}
	}
	&__more {
		
		padding-right: 70px;
	}
	&__more-btn {
		.btn-normalize ();
		background: #ffed00;
		font-size: 22px;
		width: 238px;
		font-weight: bold;
		padding: 15px;
		color: inherit;
		margin-left: 20px;
	}
	
	
}



.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
	background: rgba(30, 30, 30, 0.83);
	&.active {
		display: block;
	}
	&__btn {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 40px;
		height: 40px;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		background: transparent;
		z-index: 10;
		cursor: pointer;
		
		&:after {
			content: '×';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 30px;
			height: 30px;
			font: 22px/30px Arial, "Helvetica Neue", Helvetica, sans-serif;
			color: #888;
			font-weight: 300;
			text-align: center;
			border-radius: 50%;
			border-width: 0;
			background-color: transparent;
			transition: background-color 0.25s;
			box-sizing: border-box;
			z-index: 2;
		}
		&:hover {
			&:after {
				
				color: #555;
				background: #eee;
			}
		}
	}
	&__wrapper {
		background: white;
		position: absolute;
		left: 30px;
		top: 30px;
		right: 30px;
		bottom: 30px;
		margin: 0;
		font-family: @font;
		overflow: auto;
	}
	
	&__container {
		display: flex;
		justify-content: space-between;
		max-width: 1490px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 0;
		
		
//		height: 100%;
//		position: absolute;
//		left: 0;
//		right: 0;
//		padding-left: 15px;
//		padding-right: 15px;
	}
}
.films-menu {
//	max-width: 350px;
	flex: 0 0 330px;
	list-style: none;
	padding-left: 0;
//	overflow: auto;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 20px;
//	padding: 30px 0;
	a {
		text-decoration: none;
		color: inherit;
	}
	&__title-link {
		cursor: pointer;
	}
	&__title {
		font-weight: bold;
		font-size: 48px;
		color: #6b7377;
		line-height: 44px;
		margin-bottom: 45px;
		&.active {
			color: #373d3e;
			.films-menu__subtitle-block {
				display: block;
			}
		}
	}
	&__subtitle-block {
		list-style: none;
		padding-left: 24px;
		margin-top: 20px;
		display: none;
	}
	&__subtitle {
		font-size: 21px;
		line-height: normal;
		font-weight: 400;
		position: relative;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
		&.active {
			
			font-weight: bold;
//			color: black;
			&:before {
				content: '';
				position: absolute;
				width: 26px;
				height: 26px;
//				background: #03c853;
				left: -36px;
				top: -2px;
				border: 13px solid transparent;
				border-top-color: #03c853;
				border-right-color: #03c853;
			}
		}
	}
	&__btn {
		margin-top: 25px;
	}
}
.films-preview {
//	flex: 1 0 auto;
//	width: 630px;
	flex: 0 0 630px;
	display: flex;
//	overflow: auto;
	padding-right: 45px;
//	padding: 30px 0;
	&__full {
		width: 304px;
	}
	&__colors-container {
		
	}
	&__colors-list {
		flex-wrap: wrap;
		align-content: flex-start;
		list-style: none;
		width: 123px*2;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		
		display: none;
		&.active {
			display: flex;
		}
	}
	&__color {
		width: 123px;
		height: 123px;
		background-size: contain;
		background-repeat: no-repeat;
		border: 2px dashed transparent;
		cursor: pointer;
		&:hover, &.active {
			border-color: #71c75c;
			img {
				opacity: 0;
			}
		}
	}
	
}
.films-description {
//	flex: 1 0 auto;
//	overflow: auto;
	max-width: 480px;
	min-width: 320px;
	font-size: 20px;
//	padding: 30px 0;
	&__title {
		font-weight: bold;
		font-size: 48px;
		color: #373d3e;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__subtitle {
		font-size: 24px;
		font-weight: bold;
		color: #09c957;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__price {
		font-size: 44px;
		color: #09c957;
		border: 3px dashed #09c957;
		font-weight: bold;
		text-align: center;
		padding: 10px 10px 5px;
		margin-top: 10px;
	}
	&__price-note {
		text-align: right;
		font-size: 11px;
		color: #09c957;
		font-weight: bold;
		margin-top: 5px;
	}
	&__text {
//		font-size: 20px;
	}
	&__properties {
		list-style: none;
	}
	&__properties-item {
		margin: 10px 0;
	}
}
.properties-border {
	border: 3px dashed #09c957;
	list-style: none;
	padding: 10px 20px;
	font-size: 22px;
	line-height: 36px;
	&__item {
		
	}
	&__val {
		font-weight: bold;
		margin-left: 5px;
	}
}
.input {
	border: 2px solid #aaaaaa;
	padding: 7px 15px;
//	text-transform: uppercase;
	font-size: 18px;
	font-family: inherit;
	outline: none;
	&:focus {
		border-color: #ffed00;
	}
}
.form-popup {
	min-width: 400px;
	font-family: @font;
	&__title {
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&__input {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	&__label {
		font-size: 18px;
	}
	&__btn {
		float: right;
	}
}