.s-section {
	min-height: 100vh;
	background: url(../img/signage-bg.jpg) center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.s-header {
	background: url(../img/signage-header-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 93/810 * 100vh;
	
	&__container {
		display: flex;
	}
}

.s-header__block {
//	width: 648px;
	color: #201600;
	
	height: 90px;
	padding-top: 10px;
	padding-left: 225/1440vw * 100;
	
	@media (min-width: @width-1366) {
		height: 105px;
	}
}

.s-header__title {
	font-size: 46px;
	font-weight: 400;
	margin: 0;
	line-height: 1;
	
	@media (min-width: @width-1366) {
		font-size: 56px;
	}
}

.s-header__subtitle {
	text-align: right;
	font-size: 14px;
	margin: 10px 0 0;
	
	@media (min-width: @width-1366) {
		font-size: 18px;
	}
}
