<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Декоративные пленки для стекла</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/main.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
</head> 
<body class="">
	<header class="header">
		<div class="container">
			<div class="header__container">
				<a href="/" class="header__logo" title="На главную"></a>
				<nav class="header__nav">
					<a href="#" class="header__link" data-fancybox data-src="#payment_and_shiping" title="">Оплата и Доставка</a>
					<a href="#" class="header__link">Контакты</a>
				</nav>
				<a href="#" class="header__link">+7 (960) 910-50-60</a>
			</div>
		</div>
	</header>
	
	
	<div id="app">
		<section class="section" id="section-hero">
			<div class="container">
				<div class="section__container">
					<h1 class="section__hero-title">ДЕКОРАТИВНЫЕ ПЛЕНКИ ДЛЯ СТЕКЛА</h1>
				</div>
			</div>
		</section>
		
		<sections-item class="section" v-for="section in sections" :key="section.id" :sections-item="section" @open-modal="openModal($event[0], $event[1])"></sections-item>
		
		<modal v-if="showModal" @close="closeModal()">
			<div class="popup__container" slot="container">
				<ul class="films-menu">
					<li 
					v-for="t in type" 
					:class="['films-menu__title', {active: currentType === t.category}]">
						<span 
						class="films-menu__title-link" 
						@click="currentType = t.category">
							{{t.name}}
						</span>
						<ul class="films-menu__subtitle-block">
							<li 
							v-for="f in t.sub" 
							:class="['films-menu__subtitle', {active: currentFilm === f.id}]" 
							@click="changeFilm( f.id )">
								{{f.name}}
							</li>
						</ul>
					</li>
					<li>
						<button type="button" data-fancybox="" data-src="#payment_and_shiping" class="btn films-menu__btn">Оплата и доставка</button>
					</li>
					<button type="button" data-fancybox="" data-src="#order" class="btn films-menu__btn">Оформить заказ</button>

					
				</ul>
				<div class="films-preview">
					<div class="films-preview__full">
						<div v-if="selectedFilm.fullUrl" class="films-preview__roll" :style="{backgroundImage: 'url(' + selectedFilm.fullUrl + ')'}">
							<img src="img/roll-img.png" alt="">
						</div>
						<div v-else class="films-preview__roll">
							<img src="img/roll-img.png" alt="">
						</div>
					</div>
					<nav class="films-preview__colors-container">
						<div 
						v-for="t in type" 
						v-show="t.category === currentType"
						:class="['films-preview__colors-list']">
							<div 
							v-for="f in t.sub" 
							:class="['films-preview__color', {active: f.id === currentFilm}]" 
							@click="changeFilm( f.id )">
								<img :src="f.prevUrl" :alt="f.name">
							</div>
						</div>
					</nav>
				</div>
				<film-description :selected-film="selectedFilm" class="films-description"></film-description>
			</div>
		</modal>
		
	</div>
<!--
	<footer class="footer">
		<div class="container">
			<div class="footer__container">
				<nav class="footer__nav">
					<a href="#" class="footer__link">Каталог</a>
					<a href="#" class="footer__link">Оплата</a>
					<a href="#" class="footer__link">Доставка</a>
					<a href="#" class="footer__link">Контакты</a>
				</nav>
				<a href="#" class="footer__link">+7 (999) 999-99-99</a>
			</div>
		</div>
	</footer>
-->
	
	<form class="form-popup" id="order" style="display: none;">
		<div class="form-popup__title">Оформление заказа</div>
		<label class="form-popup__label">
			Ваше имя:
			<input class="input form-popup__input" type="text" name="name" placeholder="Роман" required>
		</label>
		<label class="form-popup__label">
			Ваш email:
			<input class="input form-popup__input" type="email" name="email" placeholder="mail@email.com" required>
		</label>
		<label class="form-popup__label">
			Ваш номер телефона:
			<input class="input form-popup__input" type="tel" name="tel" placeholder="+7 (000) 000 00 00" required>
		</label>

<!--
		<label class="form-popup__label">Выберите наименования:</label>

		<film-list-select :film-list="type"  class="form-popup__select-item"></film-list-select>
-->


		<label class="form-popup__label">
			Опишите, что вам требуется:
			<textarea class="input form-popup__input" name="msg" id="" rows="5" placeholder="D009, 10 метров"></textarea>
		</label>

		<input type="hidden" name="form-type" value="film">
		<button type="submit" class="form-popup__btn btn" title="Отправить форму с заказом">Оформить заказ</button>
	</form>
	
	
	<form class="form-popup" id="design" style="display: none;">
		<div class="form-popup__title">Заявка на дизайн</div>
		<label class="form-popup__label">
			Ваше имя:
			<input class="input form-popup__input" type="text" name="name" placeholder="Роман" required>
		</label>
		<label class="form-popup__label">
			Ваш email:
			<input class="input form-popup__input" type="email" name="email" placeholder="mail@email.com" required>
		</label>
		<label class="form-popup__label">
			Ваш номер телефона:
			<input class="input form-popup__input" type="tel" name="tel" placeholder="+7 (000) 000 00 00" required>
		</label>
		<label class="form-popup__label">
			Опишите заказ:
			<textarea class="input form-popup__input" name="msg" id="" rows="5" placeholder="Дизайн магазина мебели"></textarea>
		</label>
		<input type="hidden" name="form-type" value="design">
		<button type="submit" class="form-popup__btn btn">Отправить заявку</button>
	</form>
	
	<div class="popup-article" id="payment_and_shiping" style="display: none;">
		<div class="popup-article__paragraph row">
			<div class="col-md-3">
				<h2>Оплата заказа</h2>
			</div>
			<div class="col-md-9">
				<p>Запрос на выставление счета формируется автоматически, после создания пользователем заявки.<br>
				После обработки заявки, менеджер выставляет счет и направляет его заказчику, по указанным в заявке контактам.<br>
				При выставлении счета, менеджером проверяется наличие, товар ставится в резерв на 3 рабочих дня, согласуется адрес и способ доставки.<br>
				Оплата продукции, производится посредством банковского перевода денежных средств на расчетный счет, согласно выставленного ранее счета.<br>
				Оплата счета может быть произведена равнозначно, как частным, так и юридическим лицом, любым доступным способом.</p>
			</div>
		</div>
		
		<div class="popup-article__paragraph row">
			<div class="col-md-3">
				<h2>Отгрузка / Доставка</h2>
			</div>
			<div class="col-md-9">
			

			<p>Отгрузка продукции со склада - осуществляется в рабочие дни с 9.00 до 18.00.</p>

			<p>Транспортировка по России осуществляется транспортными компаниями за счет заказчика.<br>
			Доставка товаров до транспортной компании - бесплатно (в рабочие дни с 9.00 до 18.00, выполняется в день оплаты, либо на следующий день).</p>

			<p>Мы работаем со всеми транспортными компаниями.</p>

			<p>Упаковка мерного товара, производится в жесткий тубус, оборачивается стрейч-пленкой и маркируется.<br>
			Целые рулоны поставляются в заводской картонной упаковке.</p>
			</div>
		</div>
		<div class="popup-article__paragraph row">
			<div class="col-md-3">
				<h2>Возврат товара</h2>
			</div>
			<div class="col-md-9">
				<p>Категория товара попадает под законодательство (Постановление Правительства РФ от 19.01.1998 N 55 (ред. от 30.05.2018)), согласно которому, мерный товар, отпускаемый на метраж, возврату не подлежит.</p>
			</div>
		</div>
	</div>
	
	
	
	<script src="js/vue-dist.js"></script>
	
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
	<script>
	$('form').on('submit', function (e) {
		e.preventDefault();

		var form = $(this),
			data = $(this).serialize(),
			id = $(this).attr('id'),
			submitBtn = $(this).find('button[type="submit"]'),
			submitBtnText = submitBtn.text(),
			sentForms = JSON.parse(localStorage.getItem('sentForms'));

		$.ajax({
			type: "POST",
			url: 'mail.php',
			data: data,
			beforeSend: function () {
				submitBtn.attr('disabled', '');
				submitBtn.text('Отправка...');
			},
			error: function (error) {
				alert('Ошибка ' + error.status + '. Повторите позднее.');
				submitBtn.removeAttr('disabled');
				submitBtn.text(submitBtnText);
			},
			success: function (data) {
				submitBtn.removeAttr('disabled');
				submitBtn.text(submitBtnText);

				data = JSON.parse(data);

				var targetName = '';

				
				if (data.sended) {
					form[0].reset();
					$.fancybox.close();
				} else {
					alert(data.message);
				}
				
//				if (data.sended) {
//					switch (id) {
//						case 'call-me-form':
//							$.fancybox.close();
//							$.fancybox.open($('#thanks'));
//							targetName = 'zvonok';
//							break;
//
//							// Формы(2) "Узнать подробнее" на промо-строанице 1 (/)
//						case 'promo-form-1':
//						case 'promo-form-2':
//							$.fancybox.close();
//							$.fancybox.open($('#thanks'));
//
//							targetName = 'promo'; 
//							break;
//
//							// Формы(2) гостевого визита на промо-строанице 2 (/gostevoi)
//						case 'guest-visit-promo-form-1':
//						case 'guest-visit-promo-form-2':
//							$.fancybox.close();
//							$.fancybox.open($('#thanks'));
//
//							targetName = 'gostevoi';
//							break;
//					}
//					
//					form[0].reset();
//
//				} else {
//					alert(data.message);
//				}

			}
		});
	});
	</script>
</body>
</html>