<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="css/main.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

	<div id="app">
		<div class="popup__container">
			<!--			<list class="films-menu" :model="type"></list>-->
			
			<ul class="films-menu">
				<li 
				v-for="t in type" 
				:class="['films-menu__title', {active: currentType === t.category}]">
					<span 
					class="films-menu__title-link" 
					@click="currentType = t.category">
						{{t.name}}
					</span>
					<ul class="films-menu__subtitle-block">
						<li 
						v-for="f in t.sub" 
						:class="['films-menu__subtitle', {active: currentFilm === f.id}]" 
						@click="changeFilm( f.id )">
							{{f.name}}
						</li>
					</ul>
				</li>
				<li>
					<button type="button" data-fancybox="" data-src="#payment_and_shiping" class="btn films-menu__btn">Оплата и доставка</button>
				</li>
				<button type="button" data-fancybox="" data-src="#order" class="btn films-menu__btn">Оформить заказ</button>
				
				<form class="form-popup" id="order" style="display: none;">
					<div class="form-popup__title">Оформление заказа</div>
					<label class="form-popup__label">
						Ваше имя:
						<input class="input form-popup__input" type="text" name="name" placeholder="Роман" required>
					</label>
					<label class="form-popup__label">
						Ваш email:
						<input class="input form-popup__input" type="email" name="email" placeholder="mail@email.com" required>
					</label>
					<label class="form-popup__label">
						Ваш номер телефона:
						<input class="input form-popup__input" type="tel" name="tel" placeholder="+7 (000) 000 00 00" required>
					</label>

<!--
					<label class="form-popup__label">Выберите наименования:</label>

					<film-list-select :film-list="type"  class="form-popup__select-item"></film-list-select>
-->
					

					<label class="form-popup__label">
						Опишите, что вам требуется:
						<textarea class="input form-popup__input" name="msg" id="" rows="5" placeholder="D009, 10 метров"></textarea>
					</label>
					<button type="submit" class="form-popup__btn btn" title="Отправить форму с заказом">Оформить заказ</button>
				</form>
			</ul>
			<div class="films-preview">
				<div class="films-preview__full">
					<img src="img/d009-full.png" alt="">
				</div>
				<nav class="films-preview__colors-container">
					<div 
					v-for="t in type" 
					:class="['films-preview__colors-list', {active: t.category === currentType}]">
						<div 
						v-for="f in t.sub" 
						:class="['films-preview__color', {active: f.id === currentFilm}]" 
						@click="changeFilm( f.id )">
							<img :src="f.prevUrl" :alt="f.name">
						</div>
					</div>
				</nav>
			</div>
			<film-description :selected-film="selectedFilm" class="films-description"></film-description>
		</div>
	</div>
	
	
	
	
	
	
	<form class="form-popup" id="design" style="display: none;">
		<div class="form-popup__title">Заявка на дизайн</div>
		<label class="form-popup__label">
			Ваше имя:
			<input class="input form-popup__input" type="text" name="name" placeholder="Роман" required>
		</label>
		<label class="form-popup__label">
			Ваш email:
			<input class="input form-popup__input" type="email" name="email" placeholder="mail@email.com" required>
		</label>
		<label class="form-popup__label">
			Ваш номер телефона:
			<input class="input form-popup__input" type="tel" name="tel" placeholder="+7 (000) 000 00 00" required>
		</label>
		<label class="form-popup__label">
			Опишите заказ:
			<textarea class="input form-popup__input" name="msg" id="" rows="5" placeholder="Дизайн магазина мебели"></textarea>
		</label>
		<button type="submit" class="form-popup__btn btn">Отправить заявку</button>
	</form>
	
	
	<script src="js/vue.js"></script>
	
	
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
	
</body>

</html>
